<header>
    <div class="logo">
        <div class="logo-text">YouTube Downloader</div>
    </div>

    <nav>
        <ul>
            <li><a href="index.html">Video Downloader</a></li>
            <li><a href="downloads.html">Downloads</a></li>
        </ul>
    </nav>

    <div class="Userarea">
        <!-- Userarea -->
        <div id="userMenu"  class="login-register">
            <!-- User not logged in -->
            <button id="userButton">Login/Register</button>
            <div class="dropdown-content" id="userDropdown"></div>
        </div>
        <div id="navDesktop"  class="login-register">
            <button id ="theme-toggle" onclick="toggleDarkMode()">🌙</button>
        </div>
    </div>
</header>